.addButton {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background-color: rgb(0, 194, 65);
    color: #fff;
    font: inherit;
    border: none;
    font-size: 1;
    cursor: pointer;
    height: 5rem;
    margin-left: 1rem;
    margin-top: 5px;
    box-shadow: rgb(41, 61, 48) 2px 2px 5px;
    min-width: 8rem;
}

.addButton:hover {
    color:rgb(0, 161, 54);
    background-color: #fff;
    border: 2px solid rgb(0, 161, 54);
}